.button-container {
  order: 4;
  display: grid;
  grid-gap: 1rem;
  padding: 0.5rem;
  width: calc(100% - 1rem);

  .calculatorButton {
    font-size: 1rem;
    font-weight: 600;
  }
}

.desktop-grid {
  grid-template-areas:
    "seven eight nine divide back clear"
    "four five six multiply left-parenthesis right-parenthesis"
    "one two three subtract exponential sqrt"
    "zero zero decimal add equals equals"
    "evaluate evaluate evaluate evaluate evaluate evaluate";
}

.mobile-menu-grid {
  grid-template-areas:
    "clear exponential sqrt divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "alt-menu zero decimal equals"
    "evaluate evaluate evaluate evaluate";
}

.mobile-alt-menu-grid {
  grid-template-areas:
    "menu left-parenthesis right-parenthesis ."
    "evaluate evaluate evaluate evaluate";
}
