%displays {
    position: absolute;
    font-family: inherit;
    font-size: inherit;
    border: inherit;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0 1%;
    width: 100%;
    height: 100%;
}

%center-and-max-height {
    height: 90%;
    display: grid;
    align-content: center;
    border-radius: 0.5rem;
    overflow: hidden;
}

#display {
    position: relative;
    width: 100%;
    height: 20%;
    font-family: Lato, serif;
    font-size: 1.2rem;
    background-color: #fbfcff;

    #result-container {
        @extend %displays;
        width: 98%;
        height: 100%;
        z-index: 3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5px;
        align-items: center;

        #expression {
            flex: 1 1 65%;
            @extend %center-and-max-height;
            cursor: pointer;
            word-wrap: break-word;
        }

        #equals {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 0 1rem;
            @extend %center-and-max-height;
        }

        #result {
            flex: 1 1 35%;
            @extend %center-and-max-height;
            cursor: pointer;
        }
    }

    #malformed-expression {
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;
        z-index: 3;
        color: #812519;
        font-size: 0.9rem;
        margin: 0;
        padding: 0;
    }

    @media (max-width: 400px) {
        font-size: 1.1rem;

        #malformed-expression {
            font-size: 0.7rem;
            bottom: 0.2rem;
            left: 0.2rem;
        }
    }
}
