@use "displays";

$display-hover-color: #d0d3df;
$display-color: #fbfcff;
$tooltip-button-color: #d7d9e4;

#display {
  position: relative;
  width: 100%;
  height: 20%;
  font-family: Lato, serif;
  font-size: 1.2rem;
  background-color: $display-color;

  .result-container {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: inherit;
    font-size: inherit;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;

    .expression {
      @extend %center-and-max-height;
      @extend %expression-and-result;
      flex: 1 1 65%;

      &:hover {
        background-color: $display-hover-color;
      }
    }

    .equals {
      @extend %center-and-max-height;
      flex: 0 0 1rem;
      padding: 0 0.5rem;
    }

    .result {
      @extend %center-and-max-height;
      @extend %expression-and-result;
      flex: 1 1 35%;

      &:hover {
        background-color: $display-hover-color;
      }
    }
  }

  #display-tooltip {
    position: absolute;
    z-index: 4;
    top: 0.5rem;
    right: 0.5rem;
    width: 2.7rem;
    height: 1.5rem;
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
    background: $tooltip-button-color;

    &:hover {
      background: lighten($tooltip-button-color, 8%);
    }
  }

  #display-title {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 4;
    color: #4a6275;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }

  #malformed-expression {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    z-index: 3;
    color: #812519;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
  }

  @media (max-width: 400px) {
    font-size: 1.1rem;

    #display-title {
      font-size: 0.9rem;
      top: 0.3rem;
      left: 0.3rem;
    }

    #malformed-expression {
      bottom: 0.3rem;
      left: 0.3rem;
    }
  }
}
