@use "displays";

%center-and-max-height {
  height: 100%;
  display: flex;
  align-items: center;
}

$history-hover-color: #d1d6df;

#history-container {
  position: relative;
  width: 100%;
  font-family: Lato, serif;
  font-size: 0.9rem;
  background-color: #c4cad4;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: inset 0px -1px 0px 0px rgb(20 20 20 / 5%),
    inset 0px -2px 3px 0px rgb(20 20 20 / 10%);

  .result-container {
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-bottom: 1px solid rgb(20 20 20 / 10%);

    .expression {
      @extend %center-and-max-height;
      @extend %expression-and-result;
      flex: 1 1 65%;
      border-right: 1px solid rgb(20 20 20 / 10%);

      &:hover {
        background-color: $history-hover-color;
      }
    }

    .equals {
      @extend %center-and-max-height;
      flex: 0 0 1rem;
    }

    .result {
      @extend %center-and-max-height;
      @extend %expression-and-result;
      flex: 1 1 35%;
      border-left: 1px solid rgb(20 20 20 / 10%);

      &:hover {
        background-color: $history-hover-color;
      }
    }
  }
}
