$tooltip-color: #274156;
$close-color: #c52d2d;

#tooltip {
  position: absolute;
  background: $tooltip-color;
  font-family: Lato, serif;
  color: white;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0.98;

  .tip {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid darken(#274156, 20%);

    h2 {
      font-size: 1.2rem;
    }

    .example {
      h3 {
        font-size: 1rem;
        text-decoration: underline;
      }

      pre {
        font-size: 1.1rem;
        padding: 0.5rem 0.5rem;
        background: darken($tooltip-color, 10%);
        border-radius: 5px;
      }

      code {
        padding: 0.3rem 0.5rem;
        background: darken($tooltip-color, 10%);
        border-radius: 5px;
      }
    }
  }

  #close-tooltip {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    border: none;
    outline: none;
    background: $close-color;
    color: white;

    &:hover {
      background: lighten($close-color, 10%);
    }
  }
}
